<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Data Pemesanan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content 
      pullingIcon="arrow-dropdown" 
      pullingText="Pull to refresh" 
      refreshingSpinner="circles" 
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let pemesanan of pemesanans">
    <ion-card-header>
      <ion-card-subtitle>menu makanan: {{pemesanan.menumakanan}}, menu minuman: {{pemesanan.menuminuman}}, tipe pembayaran: {{pemesanan.tipepembayaran}}</ion-card-subtitle>
      <ion-card-title>nama: {{pemesanan.nama}}, alamat: {{pemesanan.alamat}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      No meja: {{pemesanan.nomeja}}, No.Hp: {{pemesanan.nohp}}, Email: {{pemesanan.email}}
    </ion-card-content>
  </ion-card>

  <ion-infinite-scroll (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>